<div class="container-fluid text-center">
  <div class="header">
    <h1>Welcome to today's standup.</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>Today's main objective is to learn on routing and navigation in Angular.</h4><br>
      <h5>What is routing?</h5><br>
      <p>
      In Angular, each component has it's own view. Routing helps us navigate between the different views when a user performs a certain activity such as clicking a link or button.<br>
      Routing is mostly used in navigation bars.
      </p>
    </div>
    <div class="col-md-8">
      <a routerLink = "/objectives" routerLinkActive = "activeRoute">Objectives</a>&nbsp;&nbsp;
      <a routerLink = "/technologies" routerLinkActive = "activeRoute">Technologies</a>
      <router-outlet></router-outlet>
    </div>
  </div>
</div> 


